
<ul class="card-list">
    {{#each this}}
    <li class="card-item">
        <h2 class="card-name">{{name}}</h2>
        <p class="card-price">Price:{{price}} </p>
        <p class="description">{{description}}</p>
    </li>
    {{/each}}
</ul>

